.countdown {
    width: 100vw;
    max-width: 100vw;
}

.countdown-box {
    min-height: 140px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 69, 47, 0.80) 100%);
}

.countdown-number {
    color: #FD5;
    font-size: 3.5rem;
}

.time-subheader {
    font-size: 0.8rem;
    font-weight: 200;
}

.countdown-row-container {
    gap: 2px;
}

.icon-style {
    font-size: 1.8em;
}
